head
    if title
        title Morfix Lite - #{title}
    else
        title Morfix Lite
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="theme-color" content="#3f51b5")
    meta(name="google" value="notranslate")
    link(rel="manifest", href="manifest.json")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
    link(href='./css/material.min.css', rel='stylesheet', type="text/css")
    link(href='./css/styles.css', rel='stylesheet', type="text/css")
    link(href="./icons/ml192.png", rel="icon", sizes="192x192")
    link(href="./icons/ml192.png", rel="apple-touch-icon", sizes="192x192")

    script(async, defer, src="./js/material.min.js")
