doctype html
html
    include includes/head.pug

    body
        div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
            include includes/bar.pug

            main(class="mdl-layout__content background" id="main")
                div(class="page-content")
                    div(class="mdl-grid content-grid")
                        h3(id="title", class="center") #{title}
                        - for (key in JSON.stringify(data)) {
                            - if (data.hasOwnProperty(key)) {
                                div(class="card mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp")
                                    div(class="mdl-card__title mdl-card--border", dir="auto")
                                        p(class="mdl-card__title-text") #{data[key].word}
                                        p(class="mdl-card__title-text diber") #{data[key].diber}
                                    div(class="mdl-card__supporting-text box", dir="auto") 
                                        - for(part in data[key].translation) {
                                            p(class="trans") #{data[key].translation[part]}
                                        - }
                            - }
                        - }
                        - if (data.length == 0) {
                            div(class="card mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp")
                                div(class="mdl-card__title mdl-card--border no-results", dir="auto")
                                    p(class="mdl-card__title-text results") No results found
                        - }
                        div(id="spinner", style="display:none", class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active")

script
    include js/loading.js
    include js/detectlang.js
    include js/taptosearch.js
